* {
    margin: 0;
    padding: 0;
}

/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */

html {
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
}

body {
    background: #fff;
    /* position: relative; */
    font-family: 'Poppins', sans-serif;
}

body.dark {
    background: #000;
    color: #fff;
}

body.dark header, body.dark #t_pane aside {
    box-shadow: 1px 2px 4px #ffffff80;
    background: black;
    color: #fff;
}

header {
    position: fixed;
    height: 50px;
    background: #ffffff;
    justify-content: space-between;
    z-index: 30;
    width: 100%;
    color: #000;
    box-shadow: 1px 2px 4px #00000080;
}

header h1 {
    text-align: center;
    margin-top: -35px;
}

#acc {
    font-size: 25px;
    display: inline-block;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 2px;
    transition: all 0.5s ease-in-out;
}

#acc:hover {
    cursor: pointer;
    background: #435750;
    color: #fff;
}

/* Dashboard Section */

#dashboard {
    margin-top: 30PX;
    padding: 10px;
}

#dashboard h2, #transactions h3 {
    font-size: 35px;
    margin-top: 10px;
    padding: 5px;
}

section{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
div{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}


section div {
    position: relative;
    box-shadow: 1px 2px 4px #00000080;
    margin: 10px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

section div.dark {
    position: relative;
    box-shadow: 1px 2px 4px #ffffff80;
    margin: 10px;
    background: black;
    padding: 10px;
    color: #fff;
}

#referrals {
    color: #555;
}

/* Messages Section */

#message {
    text-align: center;
    font-size: 30px;
}

.mCount {
    background: red;
    padding: 8px;
    border-radius: 100%;
    margin: 5px;
    color: #fff;
}

#message .fMessage {
    display: none;
}

#message #actualMessage {
    transition: all 0.5s ease-in-out;
}

#message.close  #actualMessage {
    padding: 0;
    transition: all 0.5s ease-in-out;
}

/* Order Section */

#orders {
    text-align: center;
}

#orders h3 {
    font-size: 30px;
}

#orders p {
    font-size: 25px;
    padding: 5px;
}

#orders .mCount {
    background: #9dff00;
}

/* Transactions Section */

#transactions div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#transactions {
    padding-bottom: 100px;
}

#topStatus {
    color: #fff;
    background: #0400ff;
    font-weight: 900;
}

#closeMessage:hover, #openMessage:hover, #accSettings p:hover {
    cursor: pointer;
}

#actualMessage {
    /* opacity: 1; */
    transition: all 0.5s ease-in-out;
}

#actualMessage .fade {
    display: none;
    transition: all 0.5s ease-in-out;
}


/* continue Investment Section */


#t_pane {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: inherit;
    z-index: 35;
}

#t_pane aside {
    box-shadow: 1px 2px 4px #00000080;
    position: fixed;
    top: 0;
    z-index: 36;
    background: inherit;    
    width: 100%;
}

#t_pane aside h1 {
    text-align: center;
    font-size: 30px;
}

#yrt {
    margin-top: 70px
}

.bg {
    font-size: 21px;
    
}

a.pay {
    text-decoration: none;
    padding: 15px;
    background: brown;
    color: #fff;
}

.choose  {
    display: flex;
    justify-content: center;
}

.choose div {
    display: flex;
    justify-content: center;
}

#ct {
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 25px;
    z-index: 39;
    color: orangered;
}

/* Withdrawal Section */

#withdrawal, #investments {
    display: flex;
    justify-content: center;
    background: inherit;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #00000060;
    top: 0;
    transition: all 0.5s ease-in-out;
}

#withdrawal.close  p, #withdrawal.close  div, #withdrawal.close  span, #withdrawal.close  aside, #settings.close  p, #settings.close  div, #settings.close  span, #settings.close  aside, #message.close  #actualMessage div, #message.close  #actualMessage p, #accSettings.close  p, #accSettings.close  div, #accSettings.close  span, #about.close  p, #about.close  div, #about.close  span, #about.close  aside, #refer.close  aside, #bankAccount.close  aside, #investments.close  div, #userInfos.close  div, #userInfos.close  aside, #changeUserName.close  aside, #changeEmailAddress.close  aside, #passChange.close  aside, #changeUserName.close  div, #changeEmailAddress.close  div, #passChange.close  div, #code.close  div, #code.close  aside {
    display: none;
}

#withdrawal div input {
    width: 350px;
    height: 40px;
    margin: 10px;
    padding: 0 10px;
    background: #6d6b6da3;
    border: none;
    color: #fff;
}

#withdrawal div {
    height: 150px;
    padding: 50px 70px;
}

#withdrawal #checkOut {
    padding: 10px 70px;
    margin-left: 60px;
    margin: 10px;
    background: #3b6302;
    color: #fff;
    border: none;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

#withdrawal #checkOut:hover {
    background: transparent;
    border: 2px dashed #3b6302;
    color: #3b6302;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

#closeWith {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    color: #ff6600;
}

#closeWith:hover {
    cursor: pointer;
}

/* Settings Section */

#settings {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 39;
    background: inherit;
    top: 0;
    transition: all 0.5s ease-in-out;
}

#settings.close, #accSettings.close, #withdrawal.close, #about.close, #refer.close, #contact.close, #bankAccount.close, #investments.close , #userInfos.close , #changeUserName.close , #changeEmailAddress.close , #passChange.close , #code.close  {
    width: 0px;
    height: 0px;
    transition: all 0.5s ease-in-out;
}

#settings div span, #accSettings div span {
    position: absolute;
    right: 20px;
}

#settings p:hover, #bank aside,
 aside span:hover, #about p:hover, #refer aside p:hover, #contact aside p:hover, #bankAccount aside p:hover {
    cursor: pointer;
}

aside {
    height: 40px;
    padding: 10px;
}

#settings aside p span {
    padding: 5px 10px;
}

#settings p, aside span {
    font-weight: bold;
    font-size: 20px;
}

.fDarkMode {
    display: none;
}

#logOut {
    color: #ff0000;
}

#accSettings, #userInfos, #changeUserName, #changeEmailAddress, #passChange, #code {
    background: inherit;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 49;
    top: 0;
    transition: all 0.5s ease-in-out;
}


#logOut {
    text-decoration: none;
}

#accSettings p {
    color: #555;
    font-size: 20px;
}

#accSettings div.dark p {
    color: #fff;
    font-size: 20px;
}

#accSettings aside p i, #about p i, #bank aside p span,
 #refer aside p span, #contact aside p span, #bankAccount aside p span, #userInfos aside p span, #changeUserName aside p span, #changeEmailAddress aside p span, #passChange aside p span, #code aside p span, #forgottenPass aside p span {
    padding-right: 20px;
}

#accSettings aside p, #bank aside p,
 #about aside p, #refer aside p, #contact aside p, #bankAccount aside p, #userInfos aside p, #changeUserName aside p, #changeEmailAddress aside p, #passChange aside p, #code aside p, #forgottenPass aside p {
    font-size: 22px;
    color: #435750;
    cursor: pointer;
}

#about p {
    font-size: 20px;
}

#about {
    width: 100%;
    height: 100%;
    z-index: 39;
    top: 0;
    position: fixed;
    background: inherit;
    flex-wrap: wrap;
    display: flex;
    transition: all 0.5s ease-in-out;
    color: inherit;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#about aside, #refer aside, #bankAccount aside, #bank aside,
 #changeUserName aside, #changeEmailAddress aside, #passChange aside, #forgottenPass aside {
    position: fixed;
    top: 0;
    z-index: 9;
    background: inherit;
    width: 100%;
}

#refer, #contact, #bankAccount, #forgottenPass, #bank {
    width: 100%;
    height: 100%;
    z-index: 39;
    top: 0;
    position: fixed;
    background: inherit;
    transition: all 0.5s ease-in-out;
    color: inherit;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#refer #referIntro {
    margin-top: 40px;
}

#refer #referIntro p {
    font-size: 20px;
    padding: 10px;
}

/* Footer Section */

footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background: #144b028e;
    width: 100%;
    height: 60px;
    justify-content: center;
    display: flex;
}

#refer .how {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#refer .how span {
    font-size: 20px;
    padding: 20px;
    color: #555;
}

#refer .invites p {
    padding: 10px;
}

#bankAccount {
    display: flex;
    justify-content: center;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#bankAccount div#addDiv {
    width: 500px;
    margin-top: 40px;
}

#bankAccount button {
    width: 90%;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    border: 2px dotted #555;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    background: transparent;
    color: #555;
}

#bankAccount button:hover {
    cursor: pointer;
    background: #555;
    transition: all 0.5s ease-in-out;
    color: #fff;
}

#investments h1 {
    font-size: 30px;
}

#investments p {
    font-size: 20px;
}

#investments #conAll {
    width: 50%;
}

#conInvest {
    padding: 20px;
    font-size: 15px;
    border-radius: 20px;
    background: #8fff00;
    border: 3px dotted #fff100;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

#conInvest:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    background: transparent;
    color: #8fff00;
}

#conBtn.dark #conInvest {
    background: #555;
    color: #fff;
    border: 3px dotted #fff;
}

#conBtn {
    display: flex;
    justify-content: center;
}

#backInvest {
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 5px;
    color: #ffdc00;
    cursor: pointer;
    z-index: 59;
}

#changeUserName input, #changeEmailAddress input, #passChange input {
    padding: 10px;
    width: 50%;
    background: transparent;
    border: 2px dashed #555;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    color: tan;
}

#changeUserName input:focus, #changeEmailAddress input:focus, #passChange input:focus {
    outline: none;
}

#changeUserName #userTop, #changeEmailAddress #emailTop, #passChange #passTop {
    margin-top: 40px;
}

input#confirmUserChange, input#confirmPassChange, input#confirmEmailChange {
    margin-left: 25%;
    background: #3f3838;
    color: #fff;
}

#confirmUserChange:hover, #confirmPassChange:hover, #confirmEmailChange:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

#code div {
    text-align: center;
}

#code input {
    width: 30px;
    border: none;
    border-bottom: 1px solid green;
    text-align: center;
    margin: 10px;
    background: transparent;
    color: #555155;
    font-size: 20px;
}

#code input:focus {
    outline: none;
}

#codes {
    margin-bottom: 50vh;
    text-align: center;
}

#bank label {
    font-size: 20px;
    color: #555;
}

#bank input {
    padding: 10px; 
    width: 350px;
    border-radius: 10px;
    border: 1px dotted gray;
    float: right;
    text-transform: capitalize;
}

#bank input:focus {
    outline: none;
}


#saveDiv {
    display: flex;
    justify-content: center;    
}

#saveAcc {
    cursor: pointer;
    background: #555;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #fff;
    padding: 15px 25px;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 25px;
    font-size: 20px;
}

footer #invest {
    background: blue;
    transition: all 0.5s ease-in-out;
}

footer #withdraw {
    background: green;
}

footer #invest:hover {
    transition: all 0.5s ease-in-out;
    background: transparent;
    border: 2px dashed blue;
    transform: scale(1.1);
    box-shadow: 0 10px #00000033;
}

footer #withdraw:hover {
    transition: all 0.5s ease-in-out;
    background: transparent;
    border: 2px dashed green;
    transform: scale(1.1);
    box-shadow: 0 10px #00000033;
}

footer #invest:active, footer #withdraw:active, #withdrawal #checkOut:active {
    transform: translateY(-5px);
}




@media (max-width: 800px) {
    #conInvest {
        padding: 15px;
        font-size: 15px;
    }
    #investments #conAll p{
        font-size: 15px;
    }
}

@media (max-width: 700px){
    #investments #conAll {
        width: 100%;
    }
    #addDiv button {
        font-size: 15px;
        padding: 10px;
    }
  
}

@media (max-width: 570px) {
    #withdrawal div input {
        width: 100%;
    }
    #withdrawal div  {
        width: 80%;
        position: fixed;
    }

    #closeWith {
       right: 50px;
   }
    


}

@media (max-width: 500px){
    #message, #orders div h3, #orders div p, #transactions h3 {
        font-size: 20px;
    }
    footer a {
        font-size: 15px;
    padding: 15px 20px;
        
    }
    #changeUserName input, #changeEmailAddress input, #passChange input {
        width: 80%;
        margin: 10px;
    }

    #refer div, #refer .how span, #referIntro center {
        font-size: 12px;
    }
}

@media (max-width: 420px){
#phnCode {
    font-size: 15px;
}
#code input {
    width: 20px;
}
}

@media (max-width: 400px){
    header h1, #dashboard h2 {
        font-size: 25px;
    }
}

@media (max-width: 385px){
    #contact p {
        font-size: 12px;
    }

}